.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #bababa
}

.hljs-emphasis,
.hljs-strong {
    color: #a8a8a2
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
    color: #6896ba
}

.hljs-code,
.hljs-selector-class {
    color: #a6e22e
}

.hljs-emphasis {
    font-style: italic
}

.hljs-attribute,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-variable {
    color: #cb7832
}

.hljs-params {
    color: #b9b9b9
}

.hljs-string {
    color: #6a8759
}

.hljs-addition,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
    color: #e0c46c
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #7f7f7f
}

.repository .ui.segment.sub-menu .list .item,
.repository .ui.segment.sub-menu .list .item a,
.repository .ui.segment.sub-menu .list .item span.ui {
    color: #cbc1d5;
}

.ui.horizontal.segments>.segment {
    background-color: #212026
}

body {
    background: #292b2e;
    color: #b2b7b8
}

* {
    scrollbar-width: thin;
    scrollbar-color: #5d4d7a hsla(0, 0%, 100%, .1)
}

::-webkit-scrollbar {
    -webkit-appearance: none!important;
    width: 10px!important;
    height: 10px!important
}

::-webkit-scrollbar-track {
    border-radius: 0!important;
    background: hsla(0, 0%, 100%, .1)!important
}

::-webkit-scrollbar-thumb {
    cursor: pointer!important;
    border-radius: 5px!important;
    -webkit-transition: color .2s ease!important;
    transition: color .2s ease!important
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
    background: #5d4d7a!important
}

::-webkit-scrollbar-thumb:hover {
    background: #5d4d7a!important
}

.ui.breadcrumb a:hover,
.ui.card>.extra a:not(.ui):hover,
.ui.cards>.card>.extra a:not(.ui):hover,
a:hover,
.repository .metas .ui.list a .text:hover,
.repository .label.list .item a:hover,
.repository .milestone.list>.item>a:hover,
.repository .milestone.list>.item .operate>a:hover,
.issue.list>.item .title:hover {
    color: #915e9e
}

.repository .metas .ui.list a .text,
.ui.breadcrumb a,
.repository .label.list .item a,
.repository .milestone.list>.item>a,
a, .repository .milestone.list>.item .operate>a,
.issue.list>.item .title {
    color: #5d4d7a
}

.repository.release #release-list {
    border-top: 1px solid #4c505c
}

.ui.green.progress .bar {
    background-color: #684
}

.ui.progress.success .bar {
    background-color: #a3c293!important
}

.following.bar.light {
    background: #212026;
    border-bottom: 1px solid #313131
}

.ui.secondary.menu .active.item {
    color: #cbc1d5;
    background: #5d4d7a;
}

.ui.secondary.menu .item {
    color: #b2b7b8
}

.following.bar .top.menu a.item:hover {
    color: #e3dedd;
    background: #915e9e;
}

.repository.view.issue .comment-list .comment .content>.bottom.segment a {
    border: 1px solid #292b2e;
    background-color: #292b2e
}

.ui.attached.header {
    background: #292b2e;
    border: 1px solid #292b2e;
    color: #e3dedd;
    font-size: 20px;
}

.ui.attached.table {
    border: 1px solid #212026;
    background: #304251
}

.feeds .list ul li:not(:last-child) {
    border-bottom: 1px solid #333640
}

.feeds .list ul li.private {
    background: #292b2e;
    border: 1px solid #333640
}

.ui.secondary.menu .active.item:hover,
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
    color: #ededed;
    background-color: #915e9e;
}

.ui.menu .ui.dropdown .menu>.item {
    background: #34323e!important;
    color: #9a9aba!important
}

.ui.secondary.menu .dropdown.item>.menu,
.ui.text.menu .dropdown.item>.menu {
    border: 1px solid #5d4d7a;
}

footer {
    background: #212026;
    border-top: 1px solid #313131
}

.ui.menu .dropdown.item .menu {
    background: #34323e;
}

.ui.menu .ui.dropdown .menu>.item:hover,
.ui.menu .ui.dropdown .menu>.selected.item {
    color: #ededed!important
}

.ui.dropdown .menu>.header {
    color: #cbc1d5
}

.ui.red.label,
.ui.red.labels .label {
    background-color: #7d3434!important;
    border-color: #8a2121!important
}

.ui.menu {
    background: #292b2e;
    border: 1px solid #292b2e
}


.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover,
.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover,
.ui.menu .acty.item:hover {
    color: #cbc1d5;
    background: #915e9e;
}

.ui.menu .active.item,
.ui.menu .acty.item {
    background: #5d4d7a;
    color: #cbc1d5
}

.ui.input.focus input,
.ui.input input,
.ui.input input:focus {
    background: #3c3c3c;
    border: 2px solid #292b2e;
    color: #cbc1d5
}

.ui.accordion .title:not(.ui) {
    color: #cbc1d5
}

.ui.label,
.ui.label.basic {
    color: #cbc1d5;
    background-color: #3c3c3c
}

.issue.list>.item {
    border-bottom: 1px dashed #475767
}

.ui.basic.green.label,
.ui.green.label,
.ui.green.labels .label {
    background-color: #5d4d7a !important;
    border-color: #915e9e;
}

.ui.basic.green.labels a.label:hover,
a.ui.basic.green.label:hover {
    background-color: #5d4d7a;
    border-color: #a3c293;
    color: #ededed !important;
}

.issue.list>.item .comment {
    color: #129c92
}

.ui.basic.button,
.ui.basic.buttons .button {
    color: #9a9aba!important;
    background: #5e5079;
    box-shadow: inset 0 0 0 0px #5d4d7a;
}

.ui.basic.red.active.button,
.ui.basic.red.buttons .active.button {
    box-shadow: inset 0 0 0 1px #c75252!important;
    color: #c75252!important
}

.ui.basic.button:focus,
.ui.basic.button:hover,
.ui.basic.buttons .button:focus,
.ui.basic.buttons .button:hover {
    background-color: #915e9e !important;
    color: #cbc1d5!important
}

.ui.menu .item {
    background: #212026;
    color: #b2b7b8
}

.ui.menu .item.disabled,
.ui.menu .item.disabled:hover {
    color: #626773
}

.ui.pagination.menu .active.item {
    color: #cbc1d5;
    background-color: #5d4d7a
}

.repository .header-wrapper {
    background-color: #292b2e
}

.ui.tabular.menu .item.acty {
    background: #5d4d7a;
    color: #cbc1d5;
}

.ui.tabular.menu .item {
    color: #b2b7b8;
    background: #212026;
}

.ui.tabular.menu .item:hover {
    color: #cbc1d5;
    background: #915e9e;

}

.ui.breadcrumb .divider,
.ui.header {
    color: #b2b7b8
}

.repository .segment.reactions .ui.label.basic.blue,
.ui.blue.label,
.ui.blue.labels .label {
    background-color: #26577b!important;
    border-color: #26577b!important
}

.ui.menu .item>.label {
    background: #565454
}

.ui.blue.button,
.ui.blue.buttons .button {
    background-color: #5d4d7a
}

.ui.blue.button:hover,
.ui.blue.buttons .button:hover {
    background-color: #915e9e
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
    color: #b2b7b8;
    background: #3c3c3c;
    border: 2px solid #292b2e;
}

.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus {
    background: #2b2b2b;
    border: 2px solid #2b2b2b;
    color: #cbc1d5;
}

.ui.action.input:not([class*="left action"]) input:focus {
    border-right-color: #4b505f!important
}

.ui.green.button,
.ui.green.buttons .button {
    background-color: #5d4d7a;
}

.ui.green.button:hover,
.ui.green.buttons .button:hover {
    background-color: #915e9e
}

.ui.button {
    background: #292b2e;
    border: 1px solid #4c505c;
    color: #cbc1d5
}

.ui.labeled.button:not([class*="left labeled"])>.label,
.ui[class*="left labeled"].button>.button {
    background: #34323e;
    border: 1px solid #5d4d7a;
    color: #5d4d7a
}

.ui.button:hover {
    background-color: #3c3c3c;
    color: #cbc1d5
}

.ui.table>thead>tr>th,
.ui.table thead th {
    background: #212026!important;
    color: #cbc1d5!important
}

.repository.file.list #repo-files-table tr {
    background: #292b2e;
}


.repository.file.list #repo-files-table tr:hover {
    background-color: #393d4a!important
}

.ui.table {
    color: #686868 !important;
    border-color: #4c505c;
    background: #292b2e
}

.ui.table tbody tr {
    border-color: #333640;
    background: #292b2e
}

.ui .text.grey {
    color: #808084!important
}

.ui.attached.table.segment {
    background: #292b2e;
    color: #cbc1d5!important
}

.markdown:not(code) h2 {
    border-bottom: 1px solid #212026
}

.repository.wiki.new .ui.container form .ui.tabular.menu {
    border-bottom: 1px solid hsla(0, 0%, 73.3%, .6)
}

.repository.wiki.new .ui.container form .ui.tabular.menu .active.item {
    border-top: 1px solid hsla(0, 0%, 73.3%, .6);
    border-left: 1px solid hsla(0, 0%, 73.3%, .6);
    border-right: 1px solid hsla(0, 0%, 73.3%, .6)
}

.repository.wiki.new .ui.container form .ui.tabular.menu .active.item:hover {
    background: #915e9e
}

.hljs,
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #9daccc
}

.markdown:not(code) .highlight pre,
.markdown:not(code) pre {
    background-color: #292b2e;
    border: 0px !important;
}

.markdown:not(code) table tr:nth-child(2n) {
    background-color: #292b2e
}

.markdown:not(code) table tr:nth-child(2n-1) {
    background-color: #3c3c3c
}

.markdown:not(code) table thead tr:nth-child(2n-1),
.markdown blockquote blockquote,
.markdown:not(code) table td,
.markdown:not(code) table th {
    border: 0px !important;
}

.markdown blockquote {
    background-color: #333;
}


.repository.file.editor.edit,
.repository.wiki.new .CodeMirror {
    border-right: 1px solid hsla(0, 0%, 73.3%, .6);
    border-left: 1px solid hsla(0, 0%, 73.3%, .6);
    border-bottom: 1px solid hsla(0, 0%, 73.3%, .6)
}

.repository.file.editor.edit+.editor-preview-side,
.repository.file.editor.edit .editor-preview,
.repository.file.editor.edit .editor-preview-side,
.repository.wiki.new .CodeMirror+.editor-preview-side,
.repository.wiki.new .CodeMirror .editor-preview,
.repository.wiki.new .CodeMirror .editor-preview-side {
    background: #292b2e
}

.repository.file.editor.edit+.editor-preview-side .markdown:not(code).ui.segment,
.repository.file.editor.edit .editor-preview-side .markdown:not(code).ui.segment,
.repository.file.editor.edit .editor-preview .markdown:not(code).ui.segment,
.repository.wiki.new .CodeMirror+.editor-preview-side .markdown:not(code).ui.segment,
.repository.wiki.new .CodeMirror .editor-preview-side .markdown:not(code).ui.segment,
.repository.wiki.new .CodeMirror .editor-preview .markdown:not(code).ui.segment {
    border-width: 0
}

.ui.dropdown .menu {
    background: #34323e;
}

.ui.dropdown .menu>.message:not(.ui) {
    color: #636363
}

.ui.input {
    color: #cbc1d5
}

.overflow.menu .items .item {
    color: #9d9d9d
}

.overflow.menu .items .item:hover {
    color: #cbc1d5
}

.ui.segment {
    background: #212026;
    border: 1px solid #3c3c3c
}

.ui.list>.item>.content,
.ui.segment {
    color: #b2b7b8!important
}

.ui.active.button:active,
.ui.button:active,
.ui.button:focus {
    background-color: #2e3e4e;
    color: #cbc1d5
}

.ui.dropdown .menu .selected.item,
.ui.dropdown .menu>.item:hover,
.ui.dropdown.selected {
    color: #cbc1d5
}

.ui.dropdown .menu>.item {
    color: #b2b7b8
}

.ui.attached.segment {
    border: 1px solid #292b2e
}

.repository.view.issue .comment-list .comment .content>.bottom.segment {
    background: #292b2e
}

.repository.view.issue .comment-list .comment .content .header {
    color: #cbc1d5;
    background-color: #3c3c3c;
    border-bottom: 1px solid #353944
}

.repository.view.issue .comment-list .comment .content .merge-section {
    background-color: #3c3c3c;
    border-top: 1px solid #353944
}

.repository.view.issue .comment-list .event>.svg.issue-symbol {
    background: #3b4954
}

.repository.view.issue .comment-list .event>.svg:not(.issue-symbol) {
    text-shadow: -2px 0 #292b2e, 0 2px #292b2e, 2px 0 #292b2e, 0 -2px #292b2e
}

.ui .text.grey a {
    color: #cbc1d5!important
}

.ui.comments .comment .actions a {
    color: #cbc1d5
}

.repository.view.issue .comment-list .comment .content .header:after {
    border-right-color: #3c3c3c
}

.repository.new.issue .comment.form .content:after {
    border-right-color: #292b2e
}

.repository.view.issue .comment-list .comment .content .header:before {
    border-right-color: #3c3c3c
}

.repository.new.issue .comment.form .content:before {
    border-right-color: #292b2e
}

.repository.view.issue .comment-list .timeline-line:before,
.repository.view.issue .comment-list:not(.prevent-before-timeline):before {
    background-color: #3b4954
}

.repository .comment.form .content .form:after,
.repository .comment.form .content .form:before {
    border-right-color: #313c47
}

.ui .text.grey a:hover {
    color: #cbc1d5!important
}

.ui.basic.green.active.button,
.ui.basic.green.buttons .active.button {
    color: #a3c293 !important;
    box-shadow: 0 0 0 1px #a3c293 inset !important;
}

.ui.basic.green.active.button:hover,
.ui.basic.green.buttons .active.button:hover {
    color: #83a273 !important;
    background-color: #d3f2c3 !important;
}

.ui.form textarea,
.ui.form textarea:focus {
    color: #cbc1d5;
    background: #3c3c3c;
    border: 2px solid #292b2e
}

.ui.form textarea:focus {
    border: 1px solid #456580
}

.ui .info.segment.top {
    background-color: #3c3c3c!important
}

.repository .diff-file-box .code-diff-unified tbody tr.del-code td {
    background-color: #3c2626!important;
    border-color: #634343!important
}

.repository .diff-file-box .code-diff-unified tbody tr.add-code td {
    background-color: #283e2d!important;
    border-color: #314a37!important
}

.repository .diff-file-box .code-diff tbody tr .added-code {
    background-color: #3a523a
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
    color: #986c88
}

.hljs-doctag,
.hljs-string {
    color: #8ab398
}

.repository .diff-file-box .code-diff tbody tr .removed-code {
    background-color: #5f3737
}

.tag-code,
.tag-code td {
    background: #242637!important;
    border-color: transparent!important
}

.ui.vertical.menu .active.item {
    background: #5d4d7a
}

.ui.vertical.menu .item {
    background: #292b2e
}

.ui.vertical.menu .header.item {
    background: #3c3c3c
}

.ui.vertical.menu {
    background: #292b2e;
    border: 1px solid #333640
}

.ui.repository.list .item:not(:first-child) {
    border-top: 1px solid #4c505c
}

.ui .text.blue {
    color: #5d4d7a!important
}

.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown:hover .menu {
    border-color: #4e5361;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, .15)
}

.ui.selection.dropdown {
    background: #212026;
    border: 1px solid #5d4d7a;
    color: #cbc1d5
}

.ui.menu .ui.dropdown .menu>.active.item {
    color: #cbc1d5!important
}

.ui.tabular.menu {
    border-bottom: 1px solid #313c47
}

.ui.card,
.ui.cards>.card {
    background: #292b2e;
    box-shadow: 0 1px 3px 0 #4c505c, 0 0 0 1px #4c505c
}

.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
    color: #cbc1d5
}

.ui.card>.extra a:not(.ui),
.ui.cards>.card>.extra a:not(.ui) {
    color: #5d4d7a
}

.ui .text.black {
    color: #b2b7b8
}

.ui .text.black:hover {
    color: #cbc1d5
}

.ui.secondary.segment {
    background: #292b2e
}

.ui.secondary.pointing.menu .item {
    color: #64606b;
    border: 0;
    background: #212026
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .acty.item {
    color: #cbc1d5;
    border: 0;
    background: #5d4d7a;
}

.ui.user.list .item:not(:first-child) {
    border-top: 1px solid #4c505c
}

.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu .acty.item:hover {
    border-color: #af8b4c;
    color: #cbc1d5;
    background: #915e9e;
}

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
    color: #cbc1d5;
    background: #915e9e;
}

.ui.checkbox+label,
.ui.checkbox label,
.ui.form .field>label,
.ui.form .inline.field>label,
.ui.form .inline.field>p,
.ui.form .inline.fields .field>label,
.ui.form .inline.fields .field>p,
.ui.form .inline.fields>label {
    color: #b2b7b8
}

.user.settings .email.list .item:not(:first-child) {
    border-top: 1px solid #3f4451
}

.explore .navbar,
.ui.menu.new-menu {
    background-color: #292b2e!important
}

@media only screen and (max-width:1200px) {
    .ui.menu.new-menu:after {
        background-image: linear-gradient(90deg, rgba(42, 46, 42, 0), #2a2e2a)
    }
}

input {
    background: #212026
}

.settings .key.list .item:not(:first-child) {
    border-top: 1px solid #3c3c3c
}

.ui.attached.info.message,
.ui.info.message {
    box-shadow: inset 0 0 0 1px #4b5e71, 0 0 0 0 transparent
}

.ui.bottom.attached.message {
    background-color: #2c662d;
    color: #5d4d7a
}

.ui.bottom.attached.message .pull-right {
    color: #5d4d7a
}

.ui.info.message {
    background-color: #2c3b4a;
    color: #9ebcc5
}

.ui .warning.header {
    background-color: #292b2e!important;
    border-color: #292b2e
}

.ui.red.message {
    background-color: #e0211d;
    color: #f9cbcb;
    box-shadow: inset 0 0 0 1px rgba(121, 71, 66, .5), 0 0 0 0 transparent
}

.ui.red.button,
.ui.red.buttons .button {
    background-color: #e0211d
}

.ui.red.button:hover,
.ui.red.buttons .button:hover {
    background-color: #984646
}

.ui.checkbox+label:hover,
.ui.checkbox label:hover {
    color: #cbc1d5!important
}

.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after {
    color: #7f98ad
}

.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before {
    background: #212026;
    opacity: 1;
    color: #7f98ad;
    border-color: #5d4d7a
}

.ui.checkbox .box:hover:before,
.ui.checkbox label:hover:before {
    background: #212026
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
    background: #212026;
    border: 1px solid #5d4d7a
}

.ui.checkbox label:before {
    border-color: #5d4d7a
}

.ui.checkbox .box:active:before,
.ui.checkbox label:active:before {
    background: #212026;
    border-color: rgba(34, 36, 38, .35)
}

.ui.checkbox input:focus~.box:before,
.ui.checkbox input:focus~label:before {
    border-color: #5d4d7a;
    background: #212026
}

.ui.checkbox input:checked:focus~.box:before,
.ui.checkbox input:checked:focus~label:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:before {
    border-color: #5d4d7a;
    background: #212026
}

.ui.checkbox input:checked:focus~.box:after,
.ui.checkbox input:checked:focus~label:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:after {
    color: #7f98ad
}

.ui.checkbox input:focus~.box:after,
.ui.checkbox input:focus~label,
.ui.checkbox input:focus~label:after {
    color: #9a9a9a
}

.ui.selection.dropdown:hover {
    border: 1px solid #456580
}

.ui.selection.dropdown .menu>.item {
    border-top: 1px solid #313c47
}

.ui.selection.visible.dropdown>.text:not(.default) {
    color: #b2b7b8
}

.ui.negative.message {
    background-color: rgba(80, 23, 17, .6);
    color: #f9cbcb;
    box-shadow: inset 0 0 0 1px rgba(121, 71, 66, .5), 0 0 0 0 transparent
}

.ui.positive.message {
    background-color: #34323e;
    color: #9a9a9a;
    box-shadow: 0 0 0 1px #5d4d7a inset,0 0 0 0 transparent;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
    color: #ef5e77
}

.user.profile .ui.card .extra.content ul li:not(:last-child) {
    border-bottom: 1px solid #4c505c
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
    color: #bd84bf
}

.ui.form .dropzone {
    border: 2px dashed #4c505c
}

.ui.basic.red.button,
.ui.basic.red.buttons .button {
    box-shadow: inset 0 0 0 1px #a04141!important;
    color: #a04141!important
}

.ui.list .list>.item .header,
.ui.list>.item .header {
    color: #dedede
}

.ui.list .list>.item .description,
.ui.list>.item .description {
    color: #b2b7b8
}

.ui.user.list .item .description a {
    color: #668cb1
}

.repository.file.list #repo-files-table tbody .svg.octicon-file-directory,
.repository.file.list #repo-files-table tbody .svg.octicon-file-submodule {
    color: #7c9b5e
}


.ui.blue.button:focus,
.ui.blue.buttons .button:focus {
    background-color: #a27558
}

.ui.basic.blue.button:focus,
.ui.basic.blue.button:hover,
.ui.basic.blue.buttons .button:focus,
.ui.basic.blue.buttons .button:hover {
    box-shadow: inset 0 0 0 1px #34323e !important;
    color: #9a9aba;
    background-color: #453e57 !important;
}

.repository.labels .ui.basic.black.label {
    background-color: #bbb!important
}

.lines-commit {
    background: #212026!important
}

.bottom-line {
    border-color: #4e525e!important
}

.lines-num {
    background: #212026!important;
    color: #b2b7b8!important;
    border-color: #2d2d2d!important
}

.lines-code .hljs,
.lines-code ol,
.lines-code pre,
.lines-num .hljs,
.lines-num ol,
.lines-num pre {
    background-color: #292b2e!important
}

td.blob-excerpt {
    background-color: rgba(0, 0, 0, .15)
}

.code-view .active {
    background: #554a00
}


a.ui.label:hover,
a.ui.labels .label:hover {
    background-color: #915e9e !important;
    color: #cbc1d5!important
}

.repository #commits-table td.sha .sha.label,
.repository #repo-files-table .sha.label {
    border-color: #888
}

.repository #commits-table td.sha .sha.label.isSigned .detail.icon,
.repository #repo-files-table .sha.label.isSigned .detail.icon {
    background: none;
    border-left-color: #888
}

.repository .label.list .item {
    border-bottom: 1px dashed #4c505c
}

.ui.basic.blue.button,
.ui.basic.blue.buttons .button {
    box-shadow: inset 0 0 0 1px #34323e !important;
    color: #9a9aba !important;
    background-color: #34323e;
}

.repository .diff-file-box .code-diff-split tbody tr.add-code td:first-child,
.repository .diff-file-box .code-diff-split tbody tr.add-code td:nth-child(2),
.repository .diff-file-box .code-diff-split tbody tr.add-code td:nth-child(3),
.repository .diff-file-box .code-diff-split tbody tr.del-code td:nth-child(4),
.repository .diff-file-box .code-diff-split tbody tr.del-code td:nth-child(5),
.repository .diff-file-box .code-diff-split tbody tr.del-code td:nth-child(6) {
    background-color: #292b2e
}

.repository .diff-file-box .code-diff-split tbody tr.add-code td:nth-child(4),
.repository .diff-file-box .code-diff-split tbody tr.add-code td:nth-child(5),
.repository .diff-file-box .code-diff-split tbody tr.add-code td:nth-child(6),
.repository .diff-file-box .code-diff-split tbody tr td.add-code {
    background-color: #283e2d!important;
    border-color: #314a37!important
}

.repository .diff-file-box .code-diff-split tbody tr.del-code td:first-child,
.repository .diff-file-box .code-diff-split tbody tr.del-code td:nth-child(2),
.repository .diff-file-box .code-diff-split tbody tr.del-code td:nth-child(3),
.repository .diff-file-box .code-diff-split tbody tr td.del-code {
    background-color: #3c2626!important;
    border-color: #634343!important
}

.ui.blue.button:active,
.ui.blue.buttons .button:active {
    background-color: #a27558
}

#git-graph-container li .author,
#git-graph-container li a {
    color: #c79575
}

.ui.header .sub.header {
    color: #b2b7b8
}

.ui.dividing.header {
    border-bottom: 1px solid #4c505c
}

.ui.modal>.header {
    background: #3c3c3c;
    color: #cbc1d5
}

.ui.modal>.actions {
    background: #3c3c3c;
    border-top: 1px solid #3c3c3c
}

.ui.modal>.content {
    background: #292b2e
}

.editor-toolbar {
    background-color: #3c3c3c
}

.editor-toolbar a {
    color: #5d4d7a!important
}

.repository .diff-detail-box {
    background-color: #292b2e
}

.repository .diff-detail-box .detail-files {
    background-color: inherit
}

.comment-code-cloud .ui.attached.tabular.menu {
    background: none transparent;
    border: 0
}

.comment-code-cloud .footer .markdown-info {
    color: inherit
}

.file-comment {
    color: #888
}

.ui.comments .comment .author {
    color: #cbc1d5
}

.ui.comments .comment .metadata {
    color: #808084
}

.ui.comments .comment .text {
    color: #b2b7b8
}

.xdsoft_datetimepicker {
    background: #2a2e39;
    border: 1px solid #4c505c;
    color: #b2b7b8
}

.xdsoft_datetimepicker .xdsoft_mounthpicker {
    height: 36px;
    background: #464c5d;
    margin: -2px -8px 2px;
    padding: 2px 8px 0
}

.xdsoft_datetimepicker .xdsoft_mounthpicker button {
    background-image: none;
    text-indent: 0;
    text-align: center;
    color: #b2b7b8
}

.xdsoft_datetimepicker .xdsoft_mounthpicker button.xdsoft_prev:before {
    content: "\f0d9";
    font: normal normal normal 14px/1 FontAwesome, serif;
    font-size: 1.7em
}

.xdsoft_datetimepicker .xdsoft_mounthpicker button.xdsoft_next:before {
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome, serif;
    font-size: 1.7em
}

.xdsoft_datetimepicker .xdsoft_mounthpicker button.xdsoft_today_button:before {
    content: "\f015";
    font: normal normal normal 14px/1 FontAwesome, serif;
    font-size: 1.4em
}

.xdsoft_datetimepicker .xdsoft_mounthpicker>div.xdsoft_label {
    background: #464c5d
}

.xdsoft_datetimepicker .xdsoft_mounthpicker>div.xdsoft_label i {
    line-height: 14px;
    background-image: none;
    text-indent: 0;
    text-align: center
}

.xdsoft_datetimepicker .xdsoft_mounthpicker>div.xdsoft_label i:before {
    content: "\f0dd";
    font: normal normal normal 14px/1 FontAwesome, serif;
    font-size: .7em
}

.xdsoft_datetimepicker .xdsoft_mounthpicker>div.xdsoft_label .xdsoft_select {
    background: #292b2e
}

.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_calendar th {
    border-color: #4c505c;
    background-color: #2a2e39
}

.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_calendar td.xdsoft_disabled,
.xdsoft_datetimepicker .xdsoft_datepicker .xdsoft_calendar td.xdsoft_other_month {
    opacity: .8;
    background: #915e9e;
    color: #000
}

.heatmap-color-0 {
    background-color: #212026
}

.heatmap-color-1 {
    background-color: #302b3b
}

.heatmap-color-2 {
    background-color: #3f3750
}

.heatmap-color-3 {
    background-color: #4e4265
}

.heatmap-color-4 {
    background-color: #5d4d7a
}

.activity-bar-graph,
.heatmap-color-5 {
    background-color: #5E5981
}

.activity-bar-graph {
    color: #b2b7b8
}

.CodeMirror {
    color: #9daccc;
    background-color: #2b2b2b;
    border-top: 0
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #b2b7b8
}

.CodeMirror .CodeMirror-gutters {
    background-color: #2b2b2b
}

.CodeMirror::-moz-selection {
    background: #42402f!important
}

.CodeMirror .CodeMirror-selected,
.CodeMirror::-moz-selection,
.CodeMirror::selection {
    background: #42402f!important
}

.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-paper .cm-property {
    color: #915e9e
}

.CodeMirror.cm-s-default .cm-header,
.CodeMirror.cm-s-paper .cm-header {
    color: #9daccc
}

.CodeMirror.cm-s-default .cm-quote,
.CodeMirror.cm-s-paper .cm-quote {
    color: #090
}

.CodeMirror.cm-s-default .cm-keyword,
.CodeMirror.cm-s-paper .cm-keyword {
    color: #cc8a61
}

.CodeMirror.cm-s-default .cm-atom,
.CodeMirror.cm-s-paper .cm-atom {
    color: #ef5e77
}

.CodeMirror.cm-s-default .cm-number,
.CodeMirror.cm-s-paper .cm-number {
    color: #ff5656
}

.CodeMirror.cm-s-default .cm-def,
.CodeMirror.cm-s-paper .cm-def {
    color: #e4e4e4
}

.CodeMirror.cm-s-default .cm-variable-2,
.CodeMirror.cm-s-paper .cm-variable-2 {
    color: #00bdbf
}

.CodeMirror.cm-s-default .cm-variable-3,
.CodeMirror.cm-s-paper .cm-variable-3 {
    color: #085
}

.CodeMirror.cm-s-default .cm-comment,
.CodeMirror.cm-s-paper .cm-comment {
    color: #8e9ab3
}

.CodeMirror.cm-s-default .cm-string,
.CodeMirror.cm-s-paper .cm-string {
    color: #a77272
}

.CodeMirror.cm-s-default .cm-string-2,
.CodeMirror.cm-s-paper .cm-string-2 {
    color: #f50
}

.CodeMirror.cm-s-default .cm-meta,
.CodeMirror.cm-s-default .cm-qualifier,
.CodeMirror.cm-s-paper .cm-meta,
.CodeMirror.cm-s-paper .cm-qualifier {
    color: #ffb176
}

.CodeMirror.cm-s-default .cm-builtin,
.CodeMirror.cm-s-paper .cm-builtin {
    color: #b7c951
}

.CodeMirror.cm-s-default .cm-bracket,
.CodeMirror.cm-s-paper .cm-bracket {
    color: #997
}

.CodeMirror.cm-s-default .cm-tag,
.CodeMirror.cm-s-paper .cm-tag {
    color: #f1d273
}

.CodeMirror.cm-s-default .cm-attribute,
.CodeMirror.cm-s-paper .cm-attribute {
    color: #bfcc70
}

.CodeMirror.cm-s-default .cm-hr,
.CodeMirror.cm-s-paper .cm-hr {
    color: #999
}

.CodeMirror.cm-s-default .cm-url,
.CodeMirror.cm-s-paper .cm-url {
    color: #c5cfd0
}

.CodeMirror.cm-s-default .cm-link,
.CodeMirror.cm-s-paper .cm-link {
    color: #d8c792
}

.CodeMirror.cm-s-default .cm-error,
.CodeMirror.cm-s-paper .cm-error {
    color: #dbdbeb
}

.ui.popup {
    color: #b2b7b8;
    border-color: #b2b7b8
}

.ui.popup,
.ui.popup.top:before {
    background-color: #292b2e
}

div.secondary:nth-child(1) > a:first-of-type,
div.secondary:nth-child(1) > a:first-of-type,
.tabular > div:nth-child(7) > a:first-of-type,
.tabular > a:first-of-type,
div.secondary:nth-child(1) > a:first-of-type,
div.two:nth-child(1) > a:first-of-type,
div.tiny > a:first-of-type {
    border-top-left-radius: 290486px !important;
    border-bottom-left-radius: 290486px !important;
}

div.secondary:nth-child(1) > a:last-of-type,
div.secondary:nth-child(1) > a:last-of-type,
.tabular > div:nth-child(7) > a:last-of-type,
.tabular > a:last-of-type,
.pointing > a:last-of-type,
div.secondary:last-of-type > a:last-of-type,
div.two:nth-child(1) > a:last-of-type,
div.tiny > a:last-of-type {
    border-top-right-radius: 290486px !important;
    border-bottom-right-radius: 290486px !important;
}


.ui.form input[type="file"] {
    background-color: #292b2e;
    color: #686868;
}

html body div.full.height div.repository.file.list div.ui.container table#repo-files-table.ui.single.line.table tbody tr td.name.four.wide span.truncate a {
    color: #4f97d7;
}

html body div.full.height div.repository.file.list div.ui.container table#repo-files-table.ui.single.line.table tbody tr td.message.nine.wide span.truncate.has-emoji a {
    color: #2aa1ae;
}

#repo-clone-url {
    background: #212026;
    color: #b2b2b2;
    border: 2px solid #212026;
}

html body div.full.height div.repository.file.list div.ui.container table#repo-files-table.ui.single.line.table thead tr.commit-list th a.ui.sha.label {
    background: #34323e;
    color: #9a9aba;
    border: 1px solid #5d4d7a;
}

html body div.full.height div.repository.file.list div.ui.container table#repo-files-table.ui.single.line.table thead tr.commit-list th a.ui.sha.label:hover {
    background: #5e5079 !important;
    color: #9a9aba;
}

html body div.full.height div.repository.file.list div.ui.container div.tab-size-8.non-diff-file-content h4.file-header.ui.top.attached.header div.file-header-right div.ui.right.file-actions div.ui.buttons a.ui.button {
    background: #5e5079;
    color: #9a9a9a;
}

html body div.full.height div.dashboard.issues div.ui.container div.ui.stackable.grid div.four.wide.column div.ui.secondary.vertical.filter.menu, 
html body div.full.height div.dashboard.issues div.ui.container div.ui.stackable.grid div.four.wide.column div.ui.secondary.vertical.filter.menu div.ui.divider {
    border: 0px;
}

div.tab:nth-child(2) > h4:nth-child(1) {
    color: #b2b2b2;
}

p {
    color: #a1a1a1;
}

span.ui.grey.label,
div.ui.mini.circular.grey.label,
span.ui.gray.small.label {
    background-color: #3c3c3c !important;
}

html body div.full.height div.repository.file.list div.ui.container table#repo-files-table.ui.single.line.table {
    border: 0px;
    padding-bottom: 1em;
}

html body div.full.height div.repository.file.list div.ui.container div.tab-size-8.non-diff-file-content div.ui.attached.table.unstackable.segment {
    background-color: #222226;
}

html body div.full.height div.repository.file.list div.ui.container div.tab-size-8.non-diff-file-content h4.file-header.ui.top.attached.header {
    padding: 1em 2em !important;
}
